{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% if object %}Atualizar Endereço{% else %}Adicionar Endereço{% endif %}</title>
        <link rel="stylesheet"
            href="{% static 'contatos/css/estilo.css' %}">
        </head>
    <body>
        {% include 'contatos/links.html' %}
        <h1>{% if object %}Atualizar Endereço de {{ object.pessoa.nome }}{% else %}Adicionar Endereço para {{ pessoa.nome }}{% endif %}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset style="width: max-content;">
                <legend>Endereço</legend>
                <table class='formulario'>
                    {{ endereco_form.as_table }}
                </table>
            </fieldset>
            <button type="submit" style="margin-top: 10px;">{% if object %}Atualizar{% else %}Criar{% endif %}</button>
            <a href="{% url 'contatos:lista-contatos' %}" class="button-danger">Cancelar</a>
        </form>
    </body>
</html>