<!--
Para incluir esse fragmento de página HTML
em uma página HTML use:
{ % include 'contatos/links.html' % }
-->
<nav class="navbar">
    <ul>
        <li><a href="{% url 'contatos:home-contatos' %}">Página inicial</a></li>
        <li><a href="{% url 'contatos:lista-contatos' %}">Listar contatos</a></li>
        <li><a href="{% url 'contatos:cria-contato' %}">Cadastrar contato</a></li>
        <li><a href="{% url 'home-sec' %}">Página de Segurança</a></li>
        {%if user.is_authenticated%}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}?next={% url 'secret-page' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'formulario' %}">Formulário Exemplo</a></li>
    </ul>
</nav>