{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lista Contatos</title>
        <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
    </head>
    <body>
        {% include 'contatos/links.html' %}
        <h1>Lista de Contatos</h1>
        <table class="lista-contatos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Salário</th>
                    <th>Ações disponíveis</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                    <tr>
                        <td>{{ pessoa.nome }}</td><td>{{pessoa.idade }}</td><td>{{ pessoa.salario }}</td>
                        <td>
                            <a href="{% url 'contatos:update-contato' pk=pessoa.pk %}" class="button-link">Atualizar</a>
                            <a href="{% url 'contatos:delete-contato' pk=pessoa.pk %}" class="button-danger"> Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="endereco-container">
                            <strong>Endereços:</strong>
                            <table class="endereco-table">
                                <thead>
                                    <tr class="endereco-table-header">
                                        <th class="endereco-table-cell">Logradouro</th>
                                        <th class="endereco-table-cell">Cidade</th>
                                        <th class="endereco-table-cell">Estado</th>
                                        <th class="endereco-table-cell">CEP</th>
                                        <th class="endereco-table-cell">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for endereco in pessoa.enderecos.all %}
                                        <tr>
                                            <td class="endereco-table-data">{{ endereco.logradouro }}</td>
                                            <td class="endereco-table-data">{{ endereco.cidade }}</td>
                                            <td class="endereco-table-data">{{ endereco.estado }}</td>
                                            <td class="endereco-table-data">{{ endereco.cep }}</td>
                                            <td class="endereco-table-data">
                                                <a href="{% url 'contatos:update-endereco' pk=endereco.pk %}" class="button-link endereco-action-button">Atualizar</a>
                                                <a href="{% url 'contatos:delete-endereco' pk=endereco.pk %}" class="button-danger endereco-action-button">Excluir</a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5" style="padding: 8px; border: 1px solid #ddd;"><em>Sem endereços cadastrados.</em></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" style="padding-top: 10px;">
                                            <a href="{% url 'contatos:cria-endereco' fk=pessoa.pk %}" class="button-link">Adicionar Endereço</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                {% empty %}
                <tr><td colspan="4" style="text-align: center;">Ainda não tem contatos cadastrados</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>