# Core framework
django>=4.2,<5.0

djangorestframework
django-cors-headers

# Dev tools (optional but highly recommended)
black
flake8
isort
django-debug-toolbar
python-dotenv

# Type checking (optional but useful)
mypy
django-stubs
